<div class = "wrapper">
    <h1>Track holidays from Thomson and First Choice</h1>


	  <% if flash[:success].present? %>
          <div data-alert class="alert-box success">
            <%= flash[:success] %>
          </div>
      <% end %>

      <% if flash[:error].present? %>
          <div data-alert class="alert-box foundation">
            <%= flash[:error] %>
          </div>
      <% end %>
      
      <% if flash[:message].present? %>
          <div data-alert class="alert-box foundation">

		      <li><%= flash[:message].first %></li>

          </div>
      <% end %>



	  
<%= render "form" %>

<h2>You are tracking <%= pluralize @holidays.size, "holiday" %></h2>


    <% @holidays.each do |holiday| %>


        <div class="result group">
            <!--<div class = "title_banner">-->
            <div>
              <%= holiday.company.capitalize %>
              <div class = "remove"><%= link_to "x Remove", holiday_path(holiday), method: :delete, confirm: "Are you sure?" %> </div>
            </div>
          
          
            <div class = "image"><img src="<%= holiday.image_url %>"></div>
        
            <div class="details group">
            
              <p class="hotel_name"><%= holiday.hotel_name %></p>
              <p class="location"><%= holiday.location %></p>
              
              <p class="details"><strong>Based on:</strong> <%= holiday.dept_date %> ‚<%= holiday.party_size%> ‚Ä¢ Flights from <%= holiday.flights %> ‚Ä¢ X nights</p>
            </div>
                <div class="prices">
                  <p>Price <%= time_ago_in_words holiday.created_at %> ago</p>
                  <p><%= number_to_currency(holiday.initial_price, :unit => "£", :precision => 0) %></p>
                </div>
                
                
                <div class="prices">
                  <p>Change</p>
                  <p>¬£100</p>
                </div>    
                
              <% @history_prices = History.where(:holiday_id => holiday.id).limit(30) %>  
                
                <div class="prices">
                  
                  <% if @history_prices.map {|i| i.price }.last  == 0 %>
                  	<p>Unavailable</p>
                  	
                  <% else %>
                  	<p>Price now</p>
				  	<p>¬£1,100</p>
                  <% end %>
                </div>    
              
              
              <a href ="<%= holiday.url %>" target="_blank">Book Now</a>
              
              
             
              
              <ul>
              <% @history_prices.each do |x| %>
              	<li><%= x.price %></li>
              <% end %>
              </ul>
              
              
            
            </div>
          

    <% end %>


    
</div>

