
	  


	<%= render partial: 'layouts/watchlistHeader' %>
	  
	  <header>
		<div class="nav">
			<div id="searchContainer">



				
				 <div class="form-wrapper cf">
		  <%= render "form" %>
				 	
					 	<div class="instruction-info">
					 	<% unless @holidays.blank? %>
							<a href="#" id="view-instructions" class="instruction-link">What do I need to do?</a>
						<% end %>
						</div>
					
				 </div>
	    	</div>
		</div>
	</header>
	
	<div id="instructions" class="instructions">
		<div class="wrapper">
			<h2 class="instruction-header">To monitor prices, simply head to <a href="http://www.thomson.co.uk" target="_blank" title="Thomon.co.uk (new window)">Thomson.co.uk</a> or <a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.firstchoice.co.uk/" target="_blank" title="Firstchoice.co.uk (new window)" class="usplink">FirstChoice.co.uk</a></h2>
			<p class="hover-hint-text"><i>Hover over the images for more information</i></p>
				
		<p class="instruction-step step1"><span class="step-no">Step 1</span>Search for your ideal holiday</p>
		
		
		<p class="instruction-step step2"><span class="step-no">Step 2</span><span class="indent">Select "more details" on<br>the holiday you want to monitor</span></p>	
		
		
		<p class="instruction-step step3"><span class="step-no">Step 3</span>Copy the web address in it's entirety and<br>paste into the box above</p>
		
		
		
		</div>
	</div>


<% unless @holidays.blank? %>
		<div class="wrapper group">
		
			<div class="dashboard-heading group">
				<h1 class="dashboard">You are tracking <%= pluralize @holidays.size, "holiday" %></h1>
				<!--<p class="remove-all"><a href="">Remove all holidays</a></p>-->
			</div>
		
				<% if flash[:success].present? %>
	          <div data-alert class="flash success" id="flash-message-display" onload=”_gaq.push(['_trackEvent', 'Watchlist', 'Holiday Added']);”>
	            <%= flash[:success] %> <span class="close-btn-20" title="Close" id="flash-hide">Close</span>
	          </div>
      	<% end %>

      	<% if flash[:error].present? %>
	          <div data-alert class="flash" id="flash-message-display" onload=”_gaq.push(['_trackEvent', 'Watchlist', 'Invalid URL']);”>
	            <%= flash[:error] %> <span class="close-btn-20" title="Close" id="flash-hide">Close</span>
	          </div>
      	<% end %>
      
      	<% if flash[:message].present? %>
	          <div data-alert class="flash" id="flash-message-display" onload=”_gaq.push(['_trackEvent', 'Watchlist', 'Invalid URL']);>

			      <li><%= flash[:message].first %>  <span class="close-btn-20" title="Close" id="flash-hide">Close</span></li>

	          </div>
      	<% end %>
		
		    <% @holidays.each do |holiday| %>
		
		
				<div class="holiday group">
				
					<% if holiday.company == "thomson" %>
							<div class="thomson-company">
					<% else %>
							<div class="firstchoice-company">
					<% end %>
						<%= link_to "Close", holiday_path(holiday), method: :delete, confirm: "Are you sure you want to remove this holiday from your watchlist?", class: "close-btn-20" %>
					</div>
				
						<div class="contents">	
							<div class="hotel-name"><%= holiday.hotel_name %></div>
							<p class="tagline"><%= holiday.location %></p>
							
							<!-- NEEDS TO CHANGE TO ACTUAL IMAGE -->
							<img src="<%=holiday.image_url%>" class="main">
							
							
							<p class="tagline margin-bottom">Departing:</p>
							<p class="specifics"><%= holiday.dept_date %> <span class="tagline">from</span> <%= holiday.flights %> </p>
							
							<p class="tagline margin-bottom margin-top">Duration:</p>
							<p class="specifics"><%= holiday.duration %> (<%=holiday.party_size %>)</p>
										
							
								<div class="prices group">
									<div class="original-price">
										<p class="price"><%= number_to_currency(holiday.initial_price, :unit => "£", :precision => 0) %></p>
										<p class="tagline margin-top">Price when added<br><%= time_ago_in_words holiday.created_at %> ago</p>
									</div>
									
									<div class="now-price">
										<% @today = History.where(:holiday_id => holiday.id).order("created_at").map {|i| i.price }.last %>
						                <% @today_time = History.where(:holiday_id => holiday.id).map  {|i| i.created_at }.last.strftime('%H:%M') %>
					               
					                
						                
						                  
						                  <% if @today  == 0 %>
							                  	<p class="price"><i>Unavailable</i></p>
											  	<p class="tagline margin-top">This may have sold out<br>or the site may be down</p>
						                  	
						                  <% else %>
						                  	<p class="price"><%= number_to_currency(@today, :unit => "£", :precision => 0) %> 
						                  	
						                  		<% if @today > holiday.initial_price %>
						                  			<span class="up">(&#8593; £<%=@today - holiday.initial_price %>)</span></p>
						                  			<p class="tagline margin-top">Price today<br>at <%=@today_time%></p>
						                  		<% end %>
						                  	
										  		<% if @today < holiday.initial_price %>
						                  			<span class="down">(&#8595; £<%= holiday.initial_price - @today %>)</span></p>
						                  			<p class="tagline margin-top">Price today<br>at <%=@today_time%></p>
						                  		<% end %>
						                  		
						                  		<% if @today == holiday.initial_price %>
						                  			<p class="tagline margin-top">Price today<br>at <%=@today_time%></p>
						                  			
						                  		<% end %>
						                  	
						                  	
						                  <% end %>
						              </div>  
									
								
								</div>
							

							<% if holiday.company == "thomson" %>
								<div class="centre"><a href="<%= holiday.url %>" target="_blank" class="button" onClick=”_gaq.push(['_trackEvent', 'External Link', 'Watchlist', '<%=holiday.company%> Link']);”>View on <%= holiday.company %></a></div>
							<% else %>
								<div class="centre"><a href="http://www.anrdoezrs.net/links/7510289/type/dlg/sid/holiday-tracker/<%= holiday.url %>" target="_blank" class="button" onClick=”_gaq.push(['_trackEvent', 'External Link', 'Watchlist', '<%=holiday.company%> Link']);”>View on <%= holiday.company %></a></div>
							<% end %>




							
							
							</div>
							
					</div>
			<%end%>
			</div>
<%end%>
	  <%= render partial: 'layouts/footer' %>
	  <% unless @holidays.blank? %>	
	     <script>
		   $(document).ready(function(){
					  
				  $("#instructions").hide();
				  $("#view-instructions").click(function(){
					  $("#instructions").slideToggle();
				});
			});

		   </script>
		<%end%>

		<script>
		   $(document).ready(function(){
					  
				  
				  $("#flash-hide").click(function(){
					  $("#flash-message-display").slideToggle();
				});
			});

		  </script>


		