<div class = "wrapper">
    <h1>Track holidays from Thomson and First Choice</h1>


	  <% if flash[:success].present? %>
          <div data-alert class="alert-box success">
            <%= flash[:success] %>
          </div
      <% end %>

      <% if flash[:error].present? %>
          <div data-alert class="alert-box foundation">
            <%= flash[:error] %>
          </div>
      <% end %>
      
      <% if flash[:message].present? %>
          <div data-alert class="alert-box foundation">
            <%= flash[:message] %>
          </div>
      <% end %>



<%= render "form" %>

<h2>You are tracking <%= pluralize @holidays.size, "holiday" %></h2>


    <% @holidays.each do |holiday| %>


        <div class="result group">
            <div class = "title_banner">
              <%= holiday.company.capitalize %>
              <div class = "remove"><%= link_to "x Remove", holiday_path(holiday), method: :delete, confirm: "Are you sure?" %> </div>
            </div>
          
          
            <div class = "image"><img src"<%= holiday.image_url %>"></div>
        
            <div class="details group">
            
              <p class="hotel_name"><%= holiday.hotel_name %></p>
              <p class="location"><%= holiday.location %></p>
              
              <p class="details"><strong>Based on:</strong> <%= holiday.party_size%> • Flights from <%= holiday.flights %> • X nights</p>
            </div>
                <div class="prices">
                  <p>Price <%= time_ago_in_words holiday.created_at %> ago</p>
                  <p>£<%= holiday.initial_price %></p>
                </div>
                
                
                <div class="prices">
                  <p>Change</p>
                  <p>£100</p>
                </div>    
                
                
                <div class="prices">
                  <p>Price now</p>
                  <p>£1,100</p>
                </div>    
              
              
              <a href ="#">Book Now</a>
              
              
            
            </div>
          

    <% end %>


    
</div>

