<% time = Time.new %>
<% this_year = time.year %>
<% next_year = this_year + 1 %>

<% @page_title = "Track package holiday prices from Thomson and First Choice for "  + this_year.to_s + " & " + next_year.to_s %>
<% @meta_description = "MONITOR PRICES of Thomson and First Choice "  + this_year.to_s + " & " + next_year.to_s + " package holidays and see when the price goes up or down. SAVE MONEY by buying at the right time." %>

<%= render partial: 'layouts/watchlistHeader' %>
	
<% if flash[:alert].present? %>
          <div data-alert class="home-flash">
            <%= flash[:alert] %>
          </div>
		<% end %>
		<% if flash[:notice].present? %>
          <div data-alert class="home-flash">
            <%= flash[:notice] %>
          </div>
<% end %>

	<div class="homewrapper container">

			<div class="holidayhome">
		
				<div class="thomson-company">
					<span class="close-btn-20">Close</span>
				</div>
				
				<div class="contents">	
					<p class="hotel-name">Villa Marchena</p>
					<p class="tagline">in Pollensa, Majorca</p>
					
					<img src="/assets/img.png" class="main">
					
					
					<p class="tagline margin-bottom">Departing:</p>
					
					<p class="specifics">Thu 25 Jun <%=next_year%> <span class="tagline">from</span> Birmingham </p>
					
					<p class="tagline margin-bottom margin-top">Duration:</p>
					<p class="specifics">7 nights (2 adults, 1 child)</p>
								
					
					<div class="prices group">
						<div class="original-price">
							<p class="price">£2,748</p>
							<p class="tagline margin-top">Price when added<br>around 7 days ago</p>
						</div>
						
						<div class="now-price">
							<p class="price">£2,648 <span class="down">(&#8595; £100)</span></p>
							<p class="tagline margin-top">Price today</p>
						</div>
						
					</div>
					
					
					
					
					
					<div class="chart group">
							<p class="tagline">Price movement in the last 7 days</p>
					
			
								<canvas id="canvas1" height="200" width="280"></canvas>
							
					
						<script>
					
							var lineChartData = {
								labels : ["","","","","","",""],
								datasets : [
									{
										fillColor : "rgba(39,174,96,0.5)",
										strokeColor : "rgba(220,220,220,1)",
										pointColor : "rgba(220,220,220,1)",
										pointStrokeColor : "#fff",
										data : [2748,2748,2748,2700,2700,2700,2648]
									}
								]
								
							}
					
						var myLine = new Chart(document.getElementById("canvas1").getContext("2d")).Line(lineChartData);
						
						</script>
						</div>
					</div>
					
			</div>

			<div class='list_of_stuff'>
				<h1 class="h1home">Did you know the price of package holidays can change on a daily basis?</h1>

						<ul class="homeusp">
							<li>Track the prices of <a href="http://www.thomson.co.uk/" target="_blank" title="Thomson.co.uk (new window)" class="usplink">Thomson</a> and <a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.firstchoice.co.uk/" target="_blank" title="Firstchoice.co.uk (new window)" class="usplink">First Choice</a> package holidays</a></li>
							<li>Monitor how the price changes over time</li>
							<li>Receive notifications by email when the price changes</li>
							<li>Time when you buy so you can get the best deal</li>
						</ul>


				
					<% if user_signed_in? %>
						<%= link_to "View Your Watchlist", holidays_path, class: "button" %>
					<% else %>
						<%= link_to "Start tracking holidays for FREE!", new_user_registration_path, class: "button" %>
					<% end %>
				

				<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
						<p class="share">Let others know about Holidaytracker.co.uk:</p>
						<a class="addthis_button_facebook"></a>
						<a class="addthis_button_twitter"></a>
						<a class="addthis_button_pinterest_share"></a>
						<a class="addthis_button_tumblr"></a>
						<a class="addthis_button_google_plusone_share"></a>
					</div>
						<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=mikec78uk"></script>
				<!-- AddThis Button END -->
			</div>
		
	</div>




<div id="instructions" class="instructions">
		<div class="wrapper">
			<h2 class="instruction-header">To monitor prices, simply head to <a href="http://www.thomson.co.uk" target="_blank" title="Thomon.co.uk (new window)">Thomson.co.uk</a> or <a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.firstchoice.co.uk/" target="_blank" title="Firstchoice.co.uk (new window)">FirstChoice.co.uk</a></h2>
				
		<p class="instruction-step step1"><span class="step-no">Step 1</span>Search for your ideal holiday</p>
		
		
		<p class="instruction-step step2"><span class="step-no">Step 2</span><span class="indent">Select "more details" on<br>the holiday you want to monitor</span></p>	
		
		
		<p class="instruction-step step3"><span class="step-no">Step 3</span>Copy the web address in it's entirety and add it to your <i>Holidaytracker.co.uk Watchlist</i></p>
		
		
		
		</div>
	</div>









<%= render partial: 'layouts/footer' %>



