<% time = Time.new %>
<% this_year = time.year %>
<% next_year = this_year + 1 %>

<% @page_title = "Track package holiday prices from Thomson and First Choice for "  + this_year.to_s + " & " + next_year.to_s %>
<% @meta_description = "MONITOR PRICES of Thomson and First Choice "  + this_year.to_s + " & " + next_year.to_s + " package holidays and see when the price goes up or down. SAVE MONEY by buying at the right time." %>

	<%= render partial: 'layouts/watchlistHeader' %>
		
	<% if flash[:alert].present? %>
	          <div data-alert class="home-flash">
	            <%= flash[:alert] %>
	          </div>
			<% end %>
			<% if flash[:notice].present? %>
	          <div data-alert class="home-flash">
	            <%= flash[:notice] %>
	          </div>
	<% end %>





    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Track the price of <br>Thomson &amp; First Choice Holidays</h1>
                        <h3>... and we'll email you when the price changes</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><%= link_to "Start tracking prices for free!", new_user_session_path, class: "btn btn-default btn-lg network-name" %></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->



    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 center-text">
                    <h2 class="section-heading">Did you know the price of package holidays can change on a daily basis?</h2>
                    <p class="lead">HolidayTracker.co.uk lets you track the price of package holidays from <a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.thomson.co.uk/" target="_blank" title="Thomson.co.uk (new window)">Thomson.co.uk</a> and <a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.firstchoice.co.uk/" target="_blank" title="Firstchoice.co.uk (new window)">FirstChoice.co.uk</a>.</p> 
                    <p class="lead">We monitor prices on a daily basis and email you when the price changes so you can choose the best time to buy.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <!-- Instructions Row -->

    <div class="content-section-b">

        <div class="container">

        <div class="row">
            <div class="col-lg-12 center-text">
                <h2 class="section-heading">Tracking the price of your holiday is simple</h2>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">

                <div id="step-1" class="static">
                    <%= image_tag("step-1-1-placeholder.png", :alt => "", :class => "img-circle img-responsive img-center", :id => "step-1-static")%>

                    <%= image_tag("step1-1.gif", :alt => "", :class => "img-circle img-responsive img-center", :id => "step-1-animated")%>
                </div>


                <h3>
                    <small>Step 1</small>
                </h3>
                <p>Search for your ideal holiday on <br><a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.thomson.co.uk/" target="_blank" title="Thomon.co.uk (new window)">Thomson.co.uk</a> or <a href="http://www.anrdoezrs.net/links/7510289/type/dlg/http://www.firstchoice.co.uk/" target="_blank" title="Firstchoice.co.uk (new window)">FirstChoice.co.uk</a></p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">


<div id="step-2" class="static">

                <%= image_tag("step-2-1-placeholder.png", :alt => "", :class => "img-circle img-responsive img-center", :id => "step-2-static")%>

                <%= image_tag("step2-1.gif", :alt => "", :class => "img-circle img-responsive img-center", :id => "step-2-animated")%>

</div>                
                <h3>
                    <small>Step 2</small>
                </h3>
                <p>Select "More Details" on<br>the holiday you want to monitor</p>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">

<div id="step-3" class="static">
                <%= image_tag("step-3-1-placeholder.png", :alt => "", :class => "img-circle img-responsive img-center", :id => "step-3-static")%>

                <%= image_tag("step3-1.gif", :alt => "", :class => "img-circle img-responsive img-center", :id => "step-3-animated")%>
</div>


                <h3>
                    <small>Step 3</small>
                </h3>
                <p>Copy the <strong>full web address</strong> and add<br>it to your <i>Holidaytracker.co.uk Watchlist</i></p>
            </div>
        </div>

        </div>
        <!-- /.container -->

    </div>

    <!-- Example Content Row -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 center-text">
                    <h2 class="section-heading">Clearly see when the price moves up or down<br><small>...and we'll email you to let you know when the price changes</small></h2>
                </div>
                



                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="col-item">

                                <div class="thomson-company">
                                    <span class="close-btn-20">Close</span>
                                </div>
                                <div class="contents">
                                    <p class="hotel-name">Villa Marchena</p>
                                    <p class="tagline">in Pollensa, Majorca</p>




                                    <div class="photo">
                                        <img src="/assets/img.png" class="img-responsive" alt="a" />
                                    </div>

                                    <p class="tagline margin-bottom">Departing:</p>
                            
                                    <p class="specifics">Thu 25 Jun <%=next_year%> <span class="tagline">from</span> Birmingham </p>
                                    
                                    <p class="tagline margin-bottom margin-top">Duration:</p>
                                    <p class="specifics">7 nights (2 adults, 1 child)</p>
                                                
                                     <p class="tagline margin-bottom margin-top">Price when added 7 days ago:</p>
                                    <p class="specifics">£2,748</p>

                                    <p class="tagline margin-bottom margin-top">Price today:</p>
                                    <p class="specifics">£2,648 <span class="down">(&#8595; £100 less)</span></p>                             
                                    <button type="button" class="btn btn-success btn-lg btn-block btn-margin">View on Thomson.co.uk</button>

                                </div>
                                        </div>
                                    </div>
                                </div>
                        
                
            </div>

        </div>
        <!-- /.container -->

    </div>





	<!-- Bottom Banner -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <h2>Start tracking YOUR holiday now:</h2>
                </div>
                <div class="col-lg-4">
                    <ul class="list-inline banner-social-buttons">
                        <li><%= link_to "create your watchlist", new_user_session_path, class: "btn btn-default btn-lg network-name" %></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->



        </div>
        <!-- /.container -->

    </div>


    </script>
