<% @page_title = 'Contact us' %>
<% @meta_description = "Get in touch with Holidaytracker.co.uk" %>

<%= render partial: 'layouts/watchlistHeader' %>


<div class="content-section-b full-height">

        <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <h3>Contact Us</h3>

                <% if flash[:alert].present? %>
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <%= flash[:alert] %> 
                  </div>
                <% end %>
                
                <% if flash[:notice].present? %>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <%= flash[:notice] %>
                  </div>
                <% end %>

              <% if flash[:success].present? %>
     		     <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <%= flash[:success] %>
	          	</div>
			<% end %>
        
				<%= simple_form_for @contact do |form| %>
                

                <div class="form-inputs">
                  	<%= form.input :contact_name, label: "Your name" %>
						<%= form.input :email_address, label: "Email address (so we can respond)" %>
					
					
		
						<%= form.input :message, label: "Your message" %>
                </div>
            
                <div class="form-actions">
                  <%= form.button :submit, "Send message", data: { disable_with: "Sending message..." }, class: "btn btn-primary"  %>
                </div>

              <% end %>
              

                
              </div>
            </div>
        </div>
</div>