<% @page_title = 'Sign in to view the latest price changes' %>
<% @meta_description = "View prices changes for holidays in your watchlist" %>

<%= render partial: 'layouts/watchlistHeader' %>


		
 <div class="content-section-b full-height">

        <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <h3>Sign in</h3>

                <% if flash[:alert].present? %>
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <%= flash[:alert] %> 
                  </div>
                <% end %>
                
                <% if flash[:notice].present? %>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <%= flash[:notice] %>
                  </div>
                <% end %>
        
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                

                <div class="form-inputs">
                  	<%= f.input :email, required: false, autofocus: true %>
		    		<%= f.input :password, required: false %>
                </div>
            
                <div class="form-actions">
                  <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
                </div>

              <% end %>
              
              <div class="margin-top">
                <%= render "devise/shared/links" %>
              </div>
                
              </div>
            </div>
        </div>
</div>